/target
**/target
Cargo.lock
.gitignore

# Ignore frontend build artifacts
frontend/target
frontend/dist/
frontend/Cargo.lock
frontend/node_modules
frontend/.DS_Store
backend
modules


# Added by cargo
#
# already existing elements were commented out

#/target
