/target
**/target
Cargo.lock
.gitignore

# Ignore frontend build artifacts
frontend/target
frontend/dist/
frontend/Cargo.lock


# Added by cargo
#
# already existing elements were commented out

#/target
